.inbox{

    /* background-color: bisque; */
    margin: 10px;
    padding-left: 60px;

}

.main1{
    /* background-color: blue; */
      background: linear-gradient(to left bottom, rgb(167, 132, 234), rgb(16, 4, 250));
    
} 


.logos{

    margin: 100px;


}
#des,span{

    color: white;
    
}
.bor{

    background-color: white;
    color: blue;


}
.login{

text-align: center;
margin-top: 30px;
}
.sui{
    border: 2px solid rgb(46, 109, 198);
    color: blue;
    
}

.main4{

    background-color: blue;
    min-height: 200px;
    margin-top: 30px;
    position: relative;
}
.line{

    border: 1px solid white;
    
    
}
.box{

    text-align: center;
}

.triangle{

    height: 10px;
    border-left: solid transparent 25px;
    border-right: solid transparent 25px;
    border-top: 40px solid blue;
    position: absolute;
    left: 50%;
    bottom: -30px;

}
.main5{

    /* background-color: rgb(14, 14, 14); */
      background: linear-gradient( black,rgb(0, 11, 47), rgba(59, 59, 59, 0.49) );
      height: 320px;
    
}
.boot{

    text-align: center;
    margin-top: 40px;
}
#appo{
    color: rgb(0, 107, 184);
}
.pic{

    /* margin: 50px; */
    
margin-bottom: 15px;

}

.head{
    text-align: center;
}
.hlo{
    text-align: center;
    margin-top: 20px;
}
.last{

     background: linear-gradient( black,rgb(0, 11, 47), rgba(59, 59, 59, 0.49) );
    min-height:50vh ;
}
.final{
    text-align: center;
    
    /* margin-top: 10vh; */
}
.colo{
    color: blue;
}
.colo1{
   padding-top: 10vh;

}
.logo{
text-align: right;
    

}
@media(max-width:768px){
    .logo img{
      
        width: 100% ;
    }
    .logo{
          text-align: center;
    }
    .logos{
        margin: 15px;
        text-align: center;
        margin-top: 25px;
    }
}